<div class="container-12 mt-5 pt-4 bgColor-light">
  <div class="container bg-white">

    <mat-tab-group dynamicHeight mat-align-tabs="center" color="accent" class="py-2">
      <mat-tab>
        <ng-template mat-tab-label>
          <h5>Torneos</h5>
        </ng-template>
        <br>
        <div class="example-small-box " align="left">

          <button mat-raised-button (click)="onCreateTournament()" color="accent">
            <mat-icon>add</mat-icon>Nuevo
          </button>

        </div>
        <div class="example-small-box" align="center">
          <mat-form-field color="accent">
            <mat-label>Modalidades</mat-label>
            <mat-select [(value)]="mod" (selectionChange)="onFilter()">
              <mat-option value="todas">
                Todas
              </mat-option>
              <mat-option value="sencillo">
                Sencillo
              </mat-option>
              <mat-option value="doble">
                Doble
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field color="accent">
            <mat-label>Categorias</mat-label>
            <mat-select [(value)]="cat" (selectionChange)="onFilter()">
              <mat-option value="todas">
                Todas
              </mat-option>
              <mat-option value="varonil">
                Varonil
              </mat-option>
              <mat-option value="femenil">
                Femenil
              </mat-option>
              <mat-option value="mixto">
                Mixto
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <div *ngIf="tournamentsFilter?.length > 0; else noTournaments" class="container">
            <div class="row">
              <div *ngFor="let tournament of tournamentsFilter" class="col-4" style="padding: 20px">
                <!--     <div *ngFor="let tournament of tournaments| slice:0:more.value" class="col-4" style="padding: 20px"> -->
                <mat-card [routerLink]="['/admin-torneo', tournament.imageT]" appMaterialElevation
                          class="addBorder" class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image-single"></div>
                    <mat-card-title>{{tournament.name}}</mat-card-title>
                    <mat-card-subtitle>({{tournament.category}})</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image
                       [src]="tournament.imageT" style="padding: 10px; height: 225px; width: 315px">
                  <mat-card-content>
                    <h2 style="text-align: center"><strong>{{tournament.name}}</strong></h2>
                    <br><label><strong>Inicio: </strong>{{tournament.beginDate}}</label>
                    <br><label><strong>Fin: </strong>{{tournament.endDate}}</label>
                    <br><label><strong>Estado: </strong>{{tournament.announcementStatus}}</label>
                    <br><label><strong>Modalidad: </strong>{{tournament.modality}}</label>
                    <br><label><strong>Categoría: </strong>{{tournament.category}}</label>
                    <br><label><strong>Participantes: </strong>{{tournament.numberOfPlayers}}</label>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
            <!--        <button mat-raised-button color="accent" class ="whiteText" (click)="onClick()">Mostrar más</button> -->
          </div>
          <ng-template #noTournaments>
            <br>
            <h5>No existen Torneos</h5>
          </ng-template>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <h5>Jugadores</h5>
        </ng-template>
        <br>
        <div class="example-small-box " align="left">

          <button mat-raised-button (click)="onCreatePlayer()" color="accent">
            <mat-icon>add</mat-icon>Nuevo
          </button>

        </div>
        <div class="example-large-box" align="center">

          <mat-form-field>
            <mat-label>Genero</mat-label>
            <mat-select [(value)]="gen" (selectionChange)="onFilterPlayer()">
              <mat-option value="todas">Ambos</mat-option>
              <mat-option value="Masculino">Masculino</mat-option>
              <mat-option value="Femenino">Femenino</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="container">
            <div class="row">
              <div *ngFor="let player of playersFilter | slice:0:more2.value" class="col-4" style="padding: 20px">
                <mat-card [routerLink]="['/jugador-seleccionado', player.imageP]" appMaterialElevation class="addBorder"
                          class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image-singleP"></div>
                    <mat-card-title>{{player.name}}</mat-card-title>
                    <mat-card-subtitle>({{player.gender}})</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image
                       [src]="player.imageP" style="padding: 5px; height: 225px; width: 300px">
                  <mat-card-content>
                    <h2 style="text-align: center"><strong>{{player.name}}</strong></h2>
                    <br><label><strong>Ranking: </strong>{{player.currentRank}}°</label>
                    <br><label><strong>Puntos: </strong>{{player.playerPoints}}</label>
                    <br><label><strong>Edad: </strong>{{player.age}} años</label>
                  </mat-card-content>
                  <!--  <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                </mat-card>
              </div>
            </div>
            <button mat-raised-button color="accent" class="whiteText" (click)="onClick2()">Mostrar más</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>