<div class="card" style="width: 19rem;"appMaterialElevation data-aos="fade-down" >
  <img class="rounded mx-auto d-block"
             src="https://cdn.24.co.za/files/Cms/General/d/4661/79f9bbbced4a48dc817dd1753aeeefd1.gif" alt="">
  <div class="card-body" data-aos="fade-up">
    <h5 class="card-title">{{player.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Ranking: {{player.ranking}}</h6>
    <p class="card-text">Edad: {{player.edad}}</p>
    <p class="card-text">Lugar de origen: {{player.nacimiento}}</p>
  </div>
</div>