.bgColor-light{
    background-color: #E6E6E5;
 }
 mat-form-field {
    margin-right: 12px;
  }
  .whiteText {
   color: white;
}

.example-header-image-singleP{
   background-image: url('/assets/icons/atp.png');
   background-size: cover;
 }

 .example-header-image-single{
   background-image: url('/assets/icons/torneo.svg');
   background-size: cover;
 }