<div class="card" style="width: 18rem;"appMaterialElevation data-aos="fade-down">
  <img src="assets/images/torneo.jpg" class="card-img-top" alt="torneo">
  <div class="card-body" data-aos="fade-up">
    <h5 class="card-title">Tengular Tournament</h5>
    <h6 class="card-subtitle mb-2 text-muted">Estado: en activo</h6>
    <p class="card-text">Torneo Tengular con validación de la ATP</p>
  </div>
</div>

<!--
<div class="card bg-dark text-white" appMaterialElevation>
    <img src="assets/images/torneo.jpg" class="card-img-top" alt="torneo">
    <div class="card-img-overlay">
        <h5 class="card-title">Tengular Tournament</h5>
        <h6 class="card-subtitle mb-2 text-muted">Estado: en activo</h6>
        <p class="card-text">Torneo Tengular con validación de la ATP</p>
    </div>
  </div>
  -->