.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/an/b/b1/ATP-World-Tour-Masters-1000-Logo.png');
    background-size: cover;
  }

  .example-header-image-single{
    background-image: url('/assets/icons/convocatoria.svg');
    background-size: cover;
  }

  .bgColor-light{
    background-color: #E6E6E5;
 }